{
  "printWidth": 120,
  "semi": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "tailwindFunctions": ["clsx", "cn", "twMerge", "tw"],
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$|^react-[rd]|^@reduxjs",
    "^.*hook",
    "(?!^@/components/icons/)^.*components/|^.*ui/|^\\.\\./[A-Z].*/[A-Z][^/]*$|^@radix-ui/|^.*/[A-Z]*$",
    "^.*icons/|^lucide",
    "^@/schemas/",
    "^.*(?<!\\.css)$",
    "^.*\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
